<a href="https://colab.research.google.com/github/JesusTamez/Mineria-de-Datos/blob/main/Mineria_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Mineria de datos/ranking.csv")

In [4]:
print(df)

           TEAM_ID  LEAGUE_ID  SEASON_ID STANDINGSDATE CONFERENCE  \
0       1610612743          0      22022    2022-12-22       West
1       1610612763          0      22022    2022-12-22       West
2       1610612740          0      22022    2022-12-22       West
3       1610612756          0      22022    2022-12-22       West
4       1610612746          0      22022    2022-12-22       West
...            ...        ...        ...           ...        ...
210337  1610612765          0      22013    2014-09-01       East
210338  1610612738          0      22013    2014-09-01       East
210339  1610612753          0      22013    2014-09-01       East
210340  1610612755          0      22013    2014-09-01       East
210341  1610612749          0      22013    2014-09-01       East

                TEAM   G   W   L  W_PCT HOME_RECORD ROAD_RECORD  RETURNTOPLAY
0             Denver  30  19  11  0.633        10-3         9-8           NaN
1            Memphis  30  19  11  0.633        13-2         6-9           NaN
2        New Orleans  31  19  12  0.613        13-4         6-8           NaN
3            Phoenix  32  19  13  0.594        14-4         5-9           NaN
4        LA Clippers  33  19  14  0.576        11-7         8-7           NaN
...              ...  ..  ..  ..    ...         ...         ...           ...
210337       Detroit  82  29  53  0.354       17-24       12-29           NaN
210338        Boston  82  25  57  0.305       16-25        9-32           NaN
210339       Orlando  82  23  59  0.280       19-22        4-37           NaN
210340  Philadelphia  82  19  63  0.232       10-31        9-32           NaN
210341     Milwaukee  82  15  67  0.183       10-31        5-36           NaN

[210342 rows x 13 columns]

# Limpieza de datos

In [6]:
df = pd.read_csv("/content/drive/MyDrive/Mineria de datos/ranking.csv")
print(df)

           TEAM_ID  LEAGUE_ID  SEASON_ID STANDINGSDATE CONFERENCE  \
0       1610612743          0      22022    2022-12-22       West
1       1610612763          0      22022    2022-12-22       West
2       1610612740          0      22022    2022-12-22       West
3       1610612756          0      22022    2022-12-22       West
4       1610612746          0      22022    2022-12-22       West
...            ...        ...        ...           ...        ...
210337  1610612765          0      22013    2014-09-01       East
210338  1610612738          0      22013    2014-09-01       East
210339  1610612753          0      22013    2014-09-01       East
210340  1610612755          0      22013    2014-09-01       East
210341  1610612749          0      22013    2014-09-01       East

                TEAM   G   W   L  W_PCT HOME_RECORD ROAD_RECORD  RETURNTOPLAY
0             Denver  30  19  11  0.633        10-3         9-8           NaN
1            Memphis  30  19  11  0.633        13-2         6-9           NaN
2        New Orleans  31  19  12  0.613        13-4         6-8           NaN
3            Phoenix  32  19  13  0.594        14-4         5-9           NaN
4        LA Clippers  33  19  14  0.576        11-7         8-7           NaN
...              ...  ..  ..  ..    ...         ...         ...           ...
210337       Detroit  82  29  53  0.354       17-24       12-29           NaN
210338        Boston  82  25  57  0.305       16-25        9-32           NaN
210339       Orlando  82  23  59  0.280       19-22        4-37           NaN
210340  Philadelphia  82  19  63  0.232       10-31        9-32           NaN
210341     Milwaukee  82  15  67  0.183       10-31        5-36           NaN

[210342 rows x 13 columns]

In [9]:
df_LIMP = pd.DataFrame.from_dict(df.loc[:,['TEAM_ID','SEASON_ID','STANDINGSDATE','CONFERENCE','TEAM'
,'G','W','L','W_PCT','HOME_RECORD','ROAD_RECORD','RETURNTOPLAY']])

In [10]:
print(df_LIMP)

           TEAM_ID  SEASON_ID STANDINGSDATE CONFERENCE          TEAM   G   W  \
0       1610612743      22022    2022-12-22       West        Denver  30  19
1       1610612763      22022    2022-12-22       West       Memphis  30  19
2       1610612740      22022    2022-12-22       West   New Orleans  31  19
3       1610612756      22022    2022-12-22       West       Phoenix  32  19
4       1610612746      22022    2022-12-22       West   LA Clippers  33  19
...            ...        ...           ...        ...           ...  ..  ..
210337  1610612765      22013    2014-09-01       East       Detroit  82  29
210338  1610612738      22013    2014-09-01       East        Boston  82  25
210339  1610612753      22013    2014-09-01       East       Orlando  82  23
210340  1610612755      22013    2014-09-01       East  Philadelphia  82  19
210341  1610612749      22013    2014-09-01       East     Milwaukee  82  15

         L  W_PCT HOME_RECORD ROAD_RECORD  RETURNTOPLAY
0       11  0.633        10-3         9-8           NaN
1       11  0.633        13-2         6-9           NaN
2       12  0.613        13-4         6-8           NaN
3       13  0.594        14-4         5-9           NaN
4       14  0.576        11-7         8-7           NaN
...     ..    ...         ...         ...           ...
210337  53  0.354       17-24       12-29           NaN
210338  57  0.305       16-25        9-32           NaN
210339  59  0.280       19-22        4-37           NaN
210340  63  0.232       10-31        9-32           NaN
210341  67  0.183       10-31        5-36           NaN

[210342 rows x 12 columns]

# Estadistica Descriptiva

In [13]:
mean_df = df_LIMP['G'].mean()
print(mean_df)

56.659735098078365

In [15]:
mean_df = df_LIMP['W'].mean()
print(mean_df)

28.333357104144678

In [16]:
mean_df = df_LIMP['L'].mean()
print(mean_df)

28.32637799393369

In [20]:
#Se va a imprimir la media, mediana y moda de las victoria (G)

In [21]:
media = df['G'].mean()
mediana = df['G'].median()
moda = df['G'].mode()

In [22]:
print("""Media Victorias: %d
Mediana Victorias: %d
Moda Victorias: %d""" % (media,mediana,moda))

Media Victorias: 56
Mediana Victorias: 67
Moda Victorias: 82

In [19]:
#Se va a imprimir la media, mediana y moda de los Empates

In [25]:
media = df['W'].mean()
mediana = df['W'].median()
moda = df['W'].mode()

In [26]:
print("""Media Empates: %d
Mediana Empates: %d
Moda Empates: %d""" % (media,mediana,moda))

Media Empates: 28
Mediana Empates: 28
Moda Empates: 0

In [27]:
#Se va a imprimir la media, mediana y moda de las Derrotas

In [28]:
media = df['L'].mean()
mediana = df['L'].median()
moda = df['L'].mode()

In [31]:
print("""Media Derrotas: %d
Mediana Derrotas: %d
Moda Derrotas: %d""" % (media,mediana,moda))

Media Derrotas: 28
Mediana Derrotas: 29
Moda Derrotas: 0